body {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    background-color: blanchedalmond
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    font-size: 1.2em;
    color: gray
}

.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    color: gray
}

.bg-primary{
    background-color: black
}
