body {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    background-color: firebrick
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    font-size: 1.2em;
    font color: snow
}

.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    color: snow
}
