body {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    font-size: 54px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
    font-size: 1.2em;
}

.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: capitalize;
}
